<!DOCTYPE html>
<html lang="en">
  <body>
    hello I am ARAPI ad. Please click <a href="/arapi-shoe-store" target="_parent">here</a> to go to the store where prices are so low,
    we could simply not afford CSS.

    <!-- this line registers an ARAPI event when the site loads -->
    <img src="data:," height="1" width="1" attributionsrc="https://<%= dsp_name %>/register-source">
  </body>
</html>

<script>
  // TODO: render dynamic
</script>
