<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="data:," />
    <!-- suppress favicon fetch -->
    <title>ARAPI Shoe Store</title>
  </head>

  <body>
    <h1>The ARAPI Shoe Store</h1>

    Welcome to the store!

    <img src="https://<%= dsp_name %>/arapi-trigger?type=add-to-cart"
         width="1"
         height="1"
         attributionsrc="https://<%= dsp_name %>/arapi-trigger?type=add-to-cart">
  </body>
</html>
