<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="data:," />
    <title>Advertiser</title>
  </head>

  <body>
    <h1>ARAPI Ad</h1>

    This page exists to directly show an ARAPI-enabled ad. This is done via an iframe while we wait for fenced frames to support this. Ad below:

    <iframe
      width="500"
      height="400"
      src="https://advertiser/ads/dynamic-arapi-ad"
      style="border: none"
    ></iframe>
  </body>
</html>
